.container__products {
  width: 80%;
  margin: 6rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.not_found {
  width: 100%;
  margin: auto;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 10px;
}
.not_found p {
  font-size: 2rem;
  font-weight: bolder;
}
